.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.venv/**
node_modules/**
vsc-extension-quickstart.md
tsconfig.json
**/*.py
**/*.pyc
__pycache__/**
data/**
reports.py
utils.py
organisar.py
main.py
README.md
!out/extension.js
!out/extension.js.map
!icon.png
